body { background: #6cab5b; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 20px; display: flex; }
.block-uploader-0 { color: #e3a7cd; font-size: 20px; margin-bottom: 5px; }
.block-auth-1 { color: #fc82df; font-size: 14px; margin-bottom: 5px; }
.block-cluster-2 { color: #ae2d5a; font-size: 18px; margin-bottom: 5px; }
.block-database-3 { color: #94703f; font-size: 18px; margin-bottom: 5px; }
.block-filter-4 { color: #fd6a12; font-size: 17px; margin-bottom: 5px; }
.block-payment-5 { color: #74594d; font-size: 20px; margin-bottom: 5px; }